$color-primary: hsla(360, 100%, 100%, 1);
$color-secondary: #F5F5F6;
$color-primary-blue: hsla(219, 72%, 35%, 1);
$color-primary-blue-dark: hsla(227, 40%, 25%, 1);
//$color-primary-light: #7ed56f;
//$color-primary-dark: #28b485;

//$color-grey-dark: #777;
//$color-white: #fff;
//$color-black: #000;