.navBarCalendarIcon {
    position: relative;
    left: 290px;
    top: 30px;
}
.navBarFechaLabel {
    font-family: Hind;	
    font-size: 18px;
    position: relative;
    left: 300px;
    top: 30px;
    color: #959595;
}