.table {
    position: relative;
    top: 250px;
    left: 60px;
}
th {
    color: #4A4A4A;	
    font-family: Hind;	
    font-size: 14px;	
    font-weight: bold;
    padding: 50px;
}
.tableResultadoLabel {
    font-family: Hind;	
    font-size: 24px;
    position: relative;
    top: 110px;
    left: 80px;
}
td {
    font-family: Hind;	
    font-size: 14px;
}