*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: #F5F5F6; }

.navBarCalendarIcon {
  position: relative;
  left: 290px;
  top: 30px; }

.navBarFechaLabel {
  font-family: Hind;
  font-size: 18px;
  position: relative;
  left: 300px;
  top: 30px;
  color: #959595; }

.table {
  position: relative;
  top: 250px;
  left: 60px; }

th {
  color: #4A4A4A;
  font-family: Hind;
  font-size: 14px;
  font-weight: bold;
  padding: 50px; }

.tableResultadoLabel {
  font-family: Hind;
  font-size: 24px;
  position: relative;
  top: 110px;
  left: 80px; }

td {
  font-family: Hind;
  font-size: 14px; }

.nuevoAspiranteFormContainer {
  height: 793px;
  width: 1105px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(185, 185, 185, 0.5);
  position: relative;
  top: 80px;
  left: 170px; }

.formInputMedianoOficio {
  height: 53px;
  width: 233px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  position: relative;
  top: 60px;
  right: 70px; }

.formInputMedianoFecha {
  height: 53px;
  width: 233px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  position: relative;
  top: 60px;
  right: 150px; }

.formInputGrandeNombre {
  height: 53px;
  width: 497px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  position: relative;
  top: 120px;
  left: 30px; }

.formInputMedianoPrimerApellido {
  height: 53px;
  width: 233px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  position: relative;
  top: 220px;
  right: 590px; }

.formInputMedianoSegundoApellido {
  height: 53px;
  width: 233px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  position: relative;
  top: 170px;
  left: 300px; }

.formInputMedianoCurp {
  height: 53px;
  width: 233px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  position: relative;
  top: 270px;
  right: 260px; }

.formInputMedianoRfc {
  height: 53px;
  width: 233px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  position: relative;
  top: 270px;
  right: 240px; }

.formInputMedianoCelular {
  height: 53px;
  width: 233px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  position: relative;
  top: 380px;
  right: 810px; }

.formInputMedianoParticular {
  height: 53px;
  width: 233px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  position: relative;
  top: 330px;
  left: 150px; }

.formOficioLabel {
  position: relative;
  left: 30px;
  top: 25px; }

.formFechaLabel {
  position: relative;
  top: 15px;
  right: 25px; }

.formNombreLabel {
  position: relative;
  top: 120px;
  right: 660px; }

.formPrimerApellidoLabel {
  position: relative;
  top: 170px;
  right: 470px; }

.formSegundoApellidoLabel {
  position: relative;
  top: 175px;
  right: 550px; }

.formCurpLabel {
  position: relative;
  top: 220px;
  right: 200px; }

.formRfcLabel {
  position: relative;
  top: 220px;
  right: 200px; }

.formCelularLabel {
  position: relative;
  top: 330px;
  right: 750px; }

.formParticularLabel {
  position: relative;
  top: 280px;
  left: 300px; }

.formSideBar {
  height: 670px;
  width: 570px;
  border-left: 1px solid lightgray;
  position: relative;
  left: 570px;
  bottom: 210px; }

.loginContainer {
  height: 820px;
  width: 1446px;
  background-image: url("../assets/background-login.jpg"); }

.loginTextAndLogo {
  width: 500px;
  height: 450px;
  position: relative;
  left: 250px;
  top: 150px; }

.loginFormContainer {
  position: relative;
  left: 810px;
  bottom: 270px;
  height: 492px;
  width: 380px;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 4px 0 rgba(102, 102, 102, 0.5); }

.logoEvantra {
  height: 70px;
  width: 206px; }

.logoContainer {
  height: 116px;
  width: 250px;
  position: relative;
  left: 10px;
  top: 40px; }

.gestionEfectivaTextContainer {
  height: 116px;
  width: 304px;
  margin-top: 50px; }

.gestionEfectivaText {
  color: #263159;
  font-family: Hind;
  font-size: 36px;
  font-weight: 300;
  line-height: 58px; }

.loginFormSubContainer {
  position: relative;
  top: 50px;
  height: 350px; }

.loginButtonContainer {
  width: 298px;
  height: 40px;
  margin-left: 42px;
  margin-top: 10px; }

.accountHelpText {
  position: relative;
  left: 42px;
  top: 2px; }

.loginCheckboxContainer {
  margin-top: 30px; }

.loginBienvenidoText {
  height: 58px;
  width: 170px; }

.loginBienvenidoTextContainer {
  color: #F25803;
  font-family: Hind;
  font-size: 36px;
  font-weight: 300;
  position: relative;
  top: 43px;
  left: 41px; }

.form-check-label {
  color: #4A4A4A;
  font-family: Roboto;
  font-size: 12px; }

.loginIngresarLabel {
  color: #E0E9F1;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold; }

.loginWelcomeParagraph {
  height: 60px;
  width: 292px;
  color: #4A4A4A;
  font-family: Hind;
  font-size: 12px;
  font-weight: 300;
  position: relative;
  top: 41px;
  left: 41px; }

.form-group-addon {
  position: absolute;
  top: 6px;
  left: 310px; }

.form-group-container {
  margin-top: 25px; }

.loginButton {
  height: 44px;
  width: 298px;
  border-radius: 5px;
  background-color: #263159; }

.navLogo {
  position: relative;
  bottom: 30px; }

.nuevoAspiranteButton {
  height: 56px;
  width: 254px;
  border-radius: 10px;
  background-color: #4A90E2;
  position: relative;
  left: 1000px;
  top: 50px; }

.busquedaContainer {
  position: relative;
  top: 130px;
  left: 80px; }

.busquedaNombreInput {
  height: 53px;
  width: 412px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  position: relative;
  right: 50px;
  top: 60px;
  font-family: Hind;
  font-size: 14px; }

.busquedaPrimerApellidoInput {
  height: 53px;
  width: 233px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  position: relative;
  font-family: Hind;
  font-size: 14px;
  top: 60px;
  right: 130px; }

.busquedaSegundoApellidoInput {
  height: 53px;
  width: 233px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  position: relative;
  font-family: Hind;
  font-size: 14px;
  left: 740px;
  top: 5px; }

.busquedaSegundoApellidoLabel {
  position: relative;
  right: 90px;
  font-family: Hind;
  font-size: 16px;
  font-weight: 600; }

.busquedaPrimerApellidoLabel {
  position: relative;
  right: 10px;
  font-family: Hind;
  font-size: 16px;
  font-weight: 600; }

.busquedaMainContainer {
  height: 141px;
  width: 1170px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(185, 185, 185, 0.5);
  position: relative;
  bottom: 60px; }

.busquedaButton {
  height: 53px;
  width: 73px;
  border-radius: 5px;
  background-color: #4A90E2;
  position: relative;
  left: 775px;
  top: 5px; }

.busquedaLabel {
  position: relative;
  left: 35px;
  font-family: Hind;
  font-size: 16px;
  font-weight: 600; }

.busquedaAvanzadaContainer {
  height: 409px;
  width: 1105px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(185, 185, 185, 0.5);
  position: relative;
  bottom: 0px;
  top: 70px;
  left: 100px; }

.busquedaInputNombre {
  height: 53px;
  width: 497px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  position: relative;
  top: 80px;
  right: 55px; }

.busquedaInputDependencia {
  height: 53px;
  width: 497px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  position: relative;
  top: 135px;
  left: 25px; }

.busquedaAvanzadaNombreLabel {
  position: relative;
  left: 25px;
  top: 35px; }

.busquedaAvanzadaCorporacionLabel {
  position: relative;
  top: 140px;
  right: 550px; }

.busquedaAvanzadaEstatusLabel {
  position: relative;
  top: 155px;
  left: 35px; }

.busquedaInputEstatus {
  height: 53px;
  width: 233px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  position: relative;
  top: 160px;
  left: 30px; }

.busquedaAvanzadaModalidadLabel {
  position: relative;
  top: 70px;
  left: 290px; }

.busquedaInputModalidad {
  height: 53px;
  width: 233px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  position: relative;
  top: 75px;
  left: 280px; }

.busquedaAvanzadaPrimerApellidoLabel {
  position: relative;
  left: 560px;
  bottom: 235px; }

.busquedaInputPrimerApellido {
  height: 53px;
  width: 233px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  position: relative;
  left: 440px;
  bottom: 195px; }

.busquedaAvanzadaSegundoApellidoLabel {
  position: relative;
  left: 470px;
  bottom: 240px; }

.busquedaInputSegundoApellido {
  height: 53px;
  width: 233px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  position: relative;
  left: 330px;
  bottom: 195px; }

.busquedaAvanzadaMunicipioLabel {
  position: relative;
  right: 150px;
  bottom: 140px; }

.busquedaInputMunicipio {
  height: 53px;
  width: 497px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  position: relative;
  left: 550px;
  bottom: 140px; }

.busquedaAvanzadaFechasLabel {
  position: relative;
  left: 570px;
  bottom: 130px; }

.dashboardTopBar {
  height: 222px;
  width: 1440px;
  background-color: #27325B;
  position: relative;
  margin-bottom: 30px; }

.navItem {
  font-size: 16px;
  height: 29px;
  color: #959595;
  font-family: Hind;
  font-weight: bold;
  margin-left: 60px; }
  .navItem:hover {
    color: #000000; }

.linkList {
  margin-bottom: 80px;
  margin-left: 100px;
  margin-right: 30px;
  width: 780px;
  border: 2px solid black;
  position: relative;
  left: 120px;
  bottom: 46px; }

.navbar-brand {
  top: 40px;
  border: 2px solid black;
  position: relative;
  left: 40px;
  bottom: 80px; }

.col-4 {
  border-left: 2px solid #F0F0F0;
  height: 113px;
  width: 450px;
  left: 990px;
  bottom: 190px;
  background-color: white; }

.col-8 {
  height: 113px;
  background-color: white;
  border-bottom: 2px solid #F0F0F0;
  width: 1000px; }

.row {
  width: 1445px;
  background-color: white; }

.bodyAspirantes {
  background-color: #F5F5F6;
  height: 1440px; }

.secondaryNavBar {
  margin-top: 5px;
  border: 2px solid #F0F0F0;
  height: 69px;
  width: 1440px;
  background-color: white; }

.aspiranteAEvaluarTitle {
  height: 38px;
  width: 205px;
  color: #4A4A4A;
  font-family: Hind;
  font-size: 24px;
  font-weight: 600;
  width: 450px;
  margin-top: 20px;
  margin-left: 100px;
  border: 2px solid black; }

.oval {
  height: 45px;
  width: 45px;
  background-color: #4A90E2;
  border-radius: 25px; }

.ovalCalendar {
  position: relative;
  left: 60px;
  top: 30px;
  border: 2px solid black; }

.ovalBell {
  position: relative;
  bottom: 15px; }

.aspirantesSearchTabs {
  position: relative;
  top: 55px;
  left: 55px; }

.tabLinks {
  margin-left: 90px;
  color: #4A90E2;
  font-family: Hind;
  font-size: 22px; }
  .tabLinks:hover {
    color: #263159; }

.form-control {
  width: 298px; }

.form-group {
  margin-left: 42px; }

.btn-primary, .btn {
  background-color: #263159;
  height: 44px; }
  .btn-primary:hover, .btn:hover {
    color: #263159; }

.form-text {
  font-size: 12px;
  font-family: Roboto; }

.form-control {
  font-size: 12px;
  font-family: Roboto;
  color: #19469a;
  height: 45px;
  border-radius: 10px; }

.fa, .fa-user {
  font-size: 12px;
  color: #19469a; }

.lock-addon {
  position: absolute;
  top: 85px;
  font-size: 12px;
  color: #19469a; }
